*{
    margin: 0;
    padding: 0;
}
html{
    width: 400px;
    height: 300px;
}
#main{
    margin: 0 auto;
    padding: 10px 40px;
    padding-bottom: 100px;
}
/* 标题布局 */
h1{
    text-align: center;
    margin: auto auto;
}
p {
    line-height: 1.6rem;
    word-spacing: 0.05rem;
}